html
  head
    body

      p
    script.
      console.log(JSON.parse('#{user._raw}').replace(/&quot;/g,'"'))
      localStorage.setItem('currentUser', '#{user._json.email}')

      window.location.replace('https://how2car.herokuapp.com/garage')
