html
  head
    body


    script.
      console.log(JSON.parse('#{user._raw}'))
      localStorage.setItem('currentUser', '#{user._json.email}')

      window.location.replace('https://how2car.herokuapp.com/garage')
